.search {
    display: flex;
    height: 40px;
}

.search .search-result {
    width: 200px;
}

.search-btn {
    width: 40px;
    outline: none;
}

.staff-title {
    margin-bottom: 0px;
    ul {
        padding-left: 0px;
    }
}
